<!--  BEGIN MAIN CONTAINER  -->
<div class="main-container" id="container">

  <div class="overlay"></div>
  <div class="search-overlay"></div>

  <!--  BEGIN SIDEBAR  -->
  <div class="sidebar-wrapper sidebar-theme">

    <app-sidebar></app-sidebar>

  </div>
  <!--  END SIDEBAR  -->

  <!--  BEGIN CONTENT AREA  -->

  <div id="content" class="main-content">

    <router-outlet></router-outlet>

    <!-- BEGIN FOOTER -->

    <app-footer></app-footer>

    <!-- END FOOTER -->

  </div>
  <!--  END CONTENT AREA  -->

</div>
<!-- END MAIN CONTAINER -->
