
<div class="">
  <div class="card-body">
    <h5>Basic</h5>
    <p-password [(ngModel)]="value1" [feedback]="false" ></p-password>

    <h5>Password Meter</h5>
    <p-password [(ngModel)]="value2"></p-password>

    <h5>Show Password</h5>
    <p-password [(ngModel)]="value3" [toggleMask]="true"></p-password>

    <h5>Templating</h5>
    <p-password [(ngModel)]="value4">
      <ng-template pTemplate="header">
          <h6>Pick a password</h6>
      </ng-template>
      <ng-template pTemplate="footer">
          <p-divider></p-divider>
          <p class="p-mt-2">Suggestions</p>
          <ul class="p-pl-2 p-ml-2 p-mt-0" style="line-height: 1.5">
              <li>At least one lowercase</li>
              <li>At least one uppercase</li>
              <li>At least one numeric</li>
              <li>Minimum 8 characters</li>
          </ul>
      </ng-template>
  </p-password>
  </div>

</div>
